.h1 {
    text-align: center;
    margin: 50px;
    padding: 5%;

}

.p1 {
    text-align: center;
    margin: 35px;
    padding: 5%;

}

.container{
    padding-left: 40% ;

}

.container1{
    padding-left: 40%;



}