.h1 {
    text-align: center;
    margin: 5px;
    padding: 5%;

}

.h3{
    text-align: center;
    padding-right: 60%;

}

.p1 {
    text-align: center;
    margin: 20px;
    padding: 5%;

}

.container{
    padding-left: 40% ;

}

.container1{
    padding-left: 40%;

}

.container2{
        padding-left: 40%;
}